<!--Nav-->
        <div class="container-fluid mx-auto w-full bg-blue-900 px-6">

            <div class="w-full flex items-center justify-between">
                <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
                    href="#">
                    <svg class="h-8 fill-current text-indigo-600 pr-2" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20">
                        <path
                            d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm-5.6-4.29a9.95 9.95 0 0 1 11.2 0 8 8 0 1 0-11.2 0zm6.12-7.64l3.02-3.02 1.41 1.41-3.02 3.02a2 2 0 1 1-1.41-1.41z" />
                    </svg> APP
                </a>

                <div class="flex w-1/2 justify-end content-center">
                    <a class="inline-block text-blue-300 no-underline hover:text-white hover:text-underline text-center h-10 p-2 md:h-auto md:p-4"
                        data-tippy-content="@home_screen" href="/">
                        Home
                    </a>
                    <a class="inline-block text-blue-300 no-underline hover:text-white hover:text-underline text-center h-10 p-2 md:h-auto md:p-4"
                        data-tippy-content="@products_screen" href="/products">
                        Products
                    </a>
                    <a class="inline-block text-blue-300 no-underline hover:text-white hover:text-underline text-center h-10 p-2 md:h-auto md:p-4 "
                        data-tippy-content="#facebook_id" href="https://www.facebook.com/sharer/sharer.php?u=#">
                        Help
                    </a>
                    <a class="inline-block text-blue-300 no-underline hover:text-white hover:text-underline text-center h-10 p-2 md:h-auto md:p-4 "
                        data-tippy-content="#facebook_id" href="https://www.facebook.com/sharer/sharer.php?u=#">
                        About
                    </a>
                </div>
            </div>
        </div>